/* ResultCard.module.css */

.cardWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px; /* same as mb: 2 */
}

.cardContentBox {
  transform-origin: top left;
  padding: 8px; /* MUI padding: 1 = 8px */
}

.titleBox {
  background-color: #222428;
  color: white;
  border-radius: 16px; /* MUI borderRadius: 2 * 8px */
  padding: 4px; /* 0.5 * 8 */
  width: 95%;
  margin-bottom: 4px; /* mb: 0.5 */
  display: flex;
  align-items: center;
}

.cloudSpendBox {
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 24px; /* 3 * 8 */
  margin-bottom: 8px;
}

.distanceText {
  font-size: 14px;
  font-weight: 500;
}

.companyText {
  font-weight: bold;
  font-size: 16px; /* h8 isn't official in MUI, so using 16px */
}

.industryText {
  font-weight: 500;
  font-size: 14px;
}

.dividerMargin {
  margin-top: 17px;
  margin-bottom: 16px;
}

.stackRightColumn {
  flex: 1;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  transform: scale(0.9);
}

.stackRowSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}
